@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sawarabi+Gothic&display=swap');

body {background-image: url("./img/fondo_color.jpg"); background-size:cover;font-family: Arial, Helvetica, sans-serif;}

.general{
    width: 380px;
    margin: auto;
    padding: auto;
    margin-top: 150px;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.content legend{
    font-size: 60px;
    font-family: 'Fredoka One', cursive;
    color:midnightblue;
    text-align:center;
    border-color: mintcream;
}
.content div{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}
#enlaces { font-size: 11px;display:inline-flex; }
#enlaces a{color:darkblue; text-decoration: none; }
#modo{width: 173px; height:18px;border-style: none;}
.float_der{float: left; border-style: none;}
.float_izq{float:right; border-style: none;}

.content .boton input{
    border-style: none;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 15px;
    background-color:transparent;
    width: 110px;
}
.boton{
    text-align: center;
}
.content .boton input{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 15px;
    background-color: lightcyan;
    border:none;
    width: 110px;
}




